<div id="footer">
    <div>
        <span><strong>О компании</strong></span>
        <span><a routerLink="/info/about">О нас</a></span>
        <span><a routerLink="/info/offer">Публичная оферта</a></span>
        <span><a routerLink="/info/details">Реквизиты компании</a></span>
    </div>
    <div>
        <span><strong>Покупателям</strong></span>
        <span><a routerLink="/info/return">Возврат товара</a></span>
        <span><a routerLink="/info/delivery">Доставка</a></span>
        <span><a routerLink="/info/payment">Способ оплаты</a></span>
    </div>
    <div>
        <span><strong>Контакты</strong></span>
        <span><a href="https://t.me/am" target="_blank">Telegram</a></span>
        <span><a href="https://wa.me/79163465879" target="_blank">WhatsApp</a></span>
        <span><a href="mailto:info@zild.ru">info@zild.ru</a></span>
        <span><a href="tel:88002501469">8-800-250-1469</a></span>
    </div>
</div>