<div id="footer">
    <div>
        <span><strong>О компании</strong></span>
        <span><a routerLink="/about">О нас</a></span>
        <span><a routerLink="/offer">Публичная оферта</a></span>
        <span><a routerLink="/details">Реквизиты компании</a></span>
    </div>
    <div>
        <span><strong>Покупателям</strong></span>
        <span><a routerLink="/return">Возврат товара</a></span>
        <span><a routerLink="/delivery">Доставка</a></span>
        <span><a routerLink="/payment">Способ оплаты</a></span>
    </div>
    <div>
        <span><strong>Контакты</strong></span>
        <span><a href="https://t.me/sk22ks77" target="_blank">Telegram</a></span>
        <span><a href="https://wa.me/79130858269" target="_blank">WhatsApp</a></span>
        <span><a href="mailto:info@zild.ru">info@zild.ru</a></span>
        <span><a href="tel:79163465879">79163465879</a></span>
    </div>
</div>