<h5>Login</h5>

<p>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" name="login" matInput [(ngModel)]="login">
    </mat-form-field>
</p>
<p>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="text" matInput [(ngModel)]="password">
    </mat-form-field>
</p>

<button mat-stroked-button (click)="loginClick()" [disabled]="!login || !password">Login</button>
<button mat-stroked-button (click)="signUpClick()" [disabled]="!login || !password">SignUp</button>
