<div style="margin-bottom: 36px;">
  <h3>Мои заказы</h3>
    
  <table>
      <tr>
        <th>№ заказа</th>
        <th>Объемный вес</th>
        <th>Физический вес</th>
        <th>Дата заказа</th>
        <th>Статус заказа</th>
        <th>Part Number</th>
        <th>Производитель</th>
        <th>Цена, руб</th>
        <th>Срок поставки</th>
      </tr>
      <tr *ngFor="let x of userPreorders">
        <td>{{x.id | number: '3.0-0'}}</td>
        <td>{{x.product.volume}}</td>
        <td>{{x.product.weight}}</td>
        <td>{{x.date | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>{{x.clientStatusName}}</td>
        <td>{{x.product.partNumber}}</td>
        <td>{{x.product.manufacturer}}</td>
        <td>{{x.product.priceRub | intCurrency}}</td>
        <td>{{x.product.deliveryMin}}</td>
      </tr>
    </table>
  
    <mat-spinner *ngIf="inProgress"></mat-spinner>
</div>

<div *ngIf="userCars.length > 0">
  <h3>Мои авто</h3>
  <div style="display: flex;">
    <div *ngFor="let x of userCars" class="auto-card">
      <div class="auto-card-title">
        <strong>{{x.markName}}, {{x.modelName}}</strong>
      </div>
      <div>Марка: {{x.markName}}</div>
      <div>Модель: {{x.modelName}}</div>
      <div>Год выпуска: {{x.year}}</div>
      <div>VIN: {{x.vin}}</div>
      <a [routerLink]="['/search/', x.vin]">найти запчасти</a>
    </div>
  </div>
</div>