<h5 class="info">Реквизиты компании</h5>
<p>
Индивидуальный предприниматель Казеев Сергей Эдуардович
</p>
<p>
ИП Казеев С.Э.<br/>
ОГРНИП 323774600718392<br/>
ИНН 222309710350
</p>
<p>
Адрес местонахождения:
111625, г. Москва, ул. Каскадная, д. 20, корп. 2, кв. 48 
</p>
<p>
ОКВЭД 45.31, 41.20, 43.21, 43.22, 43.29, 43.31, 43.33, 43.32, 45.40, 46.73, 46.74, 49.41, 63.11<br/>
Р/счет 40802810802490004780 В АО "АЛЬФА-БАНК" г. Москва<br/>
БИК 044525593<br/>
к/счет 30101810200000000593<br/>
</p>
<p>
Система налогообложения УСН на основании п.3 ст.346.11 Главы 26.2 НК РФ<br/>
Действует от своего имени на основании записи о государственной регистрации за ОГРНИП 323774600718392 от 01.11.2023г.
</p>