<h5 class="info">О нас</h5>
<p>
ЗИЛД - это онлайн-сервис для поиска и покупки автозапчастей, предлагающий наиболее эффективную систему поиска и оформления заказов.
</p>
<p>
Большой каталог автозапчастей, доступных для покупки онлайн, для автомобилей европейского, японского и корейского производства.
Различные способы поиска необходимых деталей: по VIN-номеру автомобиля, номеру детали, или с помощью иллюстрированного каталога.
Максимально полная информация о каждой детали: наличие аналогов от разных производителей, применимость, стоимость и сроки доставки.
</p>
<p>
Интернет-магазин автозапчастей предлагает огромный ассортимент деталей и аксессуаров от ведущих мировых производителей. 
В наших прайс-листах содержатся сотни миллионов наименований оригинальных и неоригинальных запчастей. 
Мы успешно сотрудничаем с поставщиками из Европы, ОАЭ и КНР. 
У нас вы сможете найти запчасти для тюнинга и специализированных автомобилей.
</p>
<p>
Каждый клиент получает персонального менеджера для максимального удобства и контроля всех этапов выполнения заказа.
Все процессы автоматизированы: онлайн-контроль оплаты, доставки и отгрузки заказа.
Вы можете выбрать удобный способ оповещения о статусе заказа: по SMS, по электронной почте или через личный кабинет на нашем сайте.
Мы предлагаем быстрый документооборот и любую удобную форму оплаты
</p>
