<h5 class="info">Возврат товара</h5>
<p>
Возврат качественного товара в г. Москве и Московской области осуществляется покупателем на пункте выдачи,
по адресу ул. Каскадная, д. 20, либо курьером по предварительному согласованию по телефону.
Часы работы по будним дням с 9:00 до 18:00.
</p>
<p>
Если вы находитесь в другом регионе России или в стране СНГ, то для возврата товара Вам придется воспользоваться транспортными компаниями и оплатить доставку до Москвы самостоятельно.
Возврат бракованных товаров осуществляется за счет продавца после согласования с менеджером через личный кабинет.
</p>