<h4>
    Оферта<br/>
    ДОГОВОРА КУПЛИ-ПРОДАЖИ<br/>
    № ОФ-1
</h4>

<p>
    Российская Федерация, г. Москва.<br/>
    Дата публикации: 10.02.2024 г.<br/>
    Дата вступления в силу: 10.02.2024 г.
</p>

<p>
    Публичный договор оферты не требует подписания и имеет точно такую же юридическую силу, как и «обыкновенный» подписанный договор в соответствии с Гражданским Кодексом Российской Федерации.
    Приведенная ниже информация является предложением (далее Оферта) от лица ИП Казеев С.Э. (именуемое в дальнейшем Исполнитель), любому юридическому или физическому лицу в РФ (именуемому в дальнейшем Заказчик), заключить договор купли-продажи (далее Договор), на описанных далее условиях.
</p>

<h5>Персональные данные</h5>
<p> Покупатель даёт согласие осуществлять следующие действия с персональными данными добровольно переданные покупателем на сайте www.zild.ru  А именно: сбор, систематизацию, накопление, хранение, обновление, изменение, деперсонализацию, а так же на использование всех контактных данных для обратной связи с покупателем и формированием для него персональных предложений.</p>

<div>
    <ol>
        <li class="level-1">Термины и определения
            <ol>
                <li>В настоящей Оферте нижеприведенные термины имеют следующее значение:
                    <ul>
                        <li>Услуга (или Услуги) — услуги, предоставляемые Исполнителем Заказчику на условиях и в соответствии с Договором;</li>
                        <li>Товар (или Товары) — товары, продаваемые Исполнителем Заказчику на условиях и в соответствии с Договором;</li>
                        <li>Сайт – сайт www.zild.ru;</li>
                        <li>Регистрация – регистрация Заказчика на Сайте с указанием требуемых сведений;</li>
                        <li>Заказ (или Заказы) – Акцептованное требование Заказчика на предоставление ему товаров Исполнителем в рамках заключенного Договора;</li>
                        <li>Акцепт – полное и безоговорочное принятие Заказчиком условий Договора, подтвержденное его Регистрацией и передачей Товара в работу из Корзины с помощью кнопки «в Заказ».</li>
                        <li>Прием в работу – согласие Исполнителя выполнить Заказ, и действия для осуществления этого на условиях и в соответствии с Договором;</li>
                        <li>Готовый к выдаче товар – выполненные Заказы на Товары, готовые к Передаче товара;</li>
                        <li>Хранение — период ожидания Готового к выдаче Заказчику товара на складе Исполнителя с момента Готовности к выдачи до момента Передачи товара;</li>
                        <li>Представитель — транспортная компания или физическое лицо, действующие на основании доверенности от Заказчика (оформленной на Сайте), для получения Товара Заказчиком;</li>
                        <li>Передача — передача партии Товара и комплекта первичных документов Представителю Заказчика на основании доверенности.</li>
                        <li>Гарантированный срок – срок исполнения Заказа, гарантированный Заказчику Исполнителем в соответствии с условиями Заказа;</li>
                        <li>Корзина – ресурс Сайта, позволяющий Заказчику делать первичный отбор Товаров для дальнейшего их Заказа;</li>
                        <li>Баланс – итоговое сальдо бухгалтерского баланса Заказчика за вычетом условно списанных сумм принятых в работу Заказов;</li>
                        <li>Условное списание – учет стоимости всех заказов Заказчика, принятых Исполнителем в работу;</li>
                        <li>Объем закупок – сумма всех оплаченных счетов по всем Переданным Товарам за вычетом Возвратов, за прошедший календарный месяц.</li>
                        <li>Документ (или Документы) – первичные документы, которые оформляются при Передаче товара  (ТОРГ-12, счет-фактура, ТОРГ-2, кассовый чек либо УПД) документы считаются равнозначными в физическом и электронном формате,  так же как их цифровая копия.</li>
                        <li>Стоимость товара – цена Товара, включая его доставку до пункта Передачи в городе Москва.</li>
                        <li>Обращение – любое обращение Заказчика по Товару, оформленное на Сайте Исполнителя;</li>
                        <li>Рекламация – требование Вернуть или Уценить переданный Заказчику Товар при наступлении условий и в порядке, предусмотренных  в Приложении № 3 к настоящему Договору;</li>
                        <li>Возврат – возврат Товара Исполнителю с  возвратом стоимости Товара Заказчику по принятому Исполнителем решению по Обращению;</li>
                        <li>Уценка – компенсация расходов Заказчика по восстановительному ремонту дефектного Товара, без Возврата Товара Исполнителю, по принятому Исполнителем решению по Обращению;</li>
                        <li>Стикер – наклейка Исполнителя, содержащая служебную информацию о Заказе Товара,  необходимую для его однозначной идентификации.</li>
                    </ul>
                </li>
            </ol>

        </li>
        <li class="level-1">Общие положения
            <ol>
                <li>Все цены указаны в рублях РФ. Все взаиморасчеты ведутся в рублях РФ.</li>
                <li>Данный документ является Договором и содержит все существенные условия продажи Товаров. Все Приложения №1, 2, 3, 4, 5 являются неотъемлемой частью Договора.</li>
                <li>Для размещения Заказов Заказчик должен пройти Регистрацию на Сайте Исполнителя.</li>
                <li>Правила и условия создания, исполнения Заказа и передачи Товара описаны в Приложении №1 и Приложении №5 к настоящему Договору.</li>
                <li>Заказчику предоставляется скидка, в соответствии с системой скидок, которая описана в Приложении №2 к настоящему Договору.</li>
                <li>Заказчик может оформить Рекламацию по переданному товару, в соответствии с правилами обработки рекламаций, которые описаны в Приложении №3 к настоящему Договору.
                <li>При сверхнормативном Хранении товара Заказчик оплачивает эти услуги  в соответствии с правилами их начисления и оплаты, которые описаны в Приложении №4 к настоящему договору.</li>
            </ol>
        </li>
        <li class="level-1">Права и обязанности сторон
            <ol>
                <li>Заказчик имеет право:
                    <ol>
                        <li>Права Заказчика защищены действующим законодательством РФ, настоящим Договором, а также стратегической целью Исполнителя развивать партнерские отношения на долгосрочную перспективу.</li>
                        <li>Получать информацию об акциях Исполнителя и изменениях в регламенте работы Исполнителя.</li>
                        <li>Требовать соблюдения Договора.</li>
                        <li>Обращаться с Рекламациями по товару на условиях, предусмотренных Приложением №3 к настоящему Договору.</li>
                    </ol>
                </li>
                <li>Заказчик обязуется:
                    <ol>
                        <li>Соблюдать условия  Договора.</li>
                        <li>Своевременно полностью оплачивать и принимать у Исполнителя готовый к выдаче Товар.</li>
                        <li>Оплачивать сверхнормативное Хранение товара на условиях, указанных в Приложении №4 к настоящему Договору.</li>
                        <li>В случае недостачи, излишка или пересорта Товара извещать Исполнителя, не позднее чем через 14 календарных дней с момента Передачи товара Представителю.</li>
                        <li>Ежеквартально производить сверку взаиморасчетов с Исполнителем. Акт сверки рассылается автоматически в электронном виде ежеквартально по 1 числам первого квартального месяца или по требованию Заказчика.
                            Если с момента рассылки, в течение 14 дней, не поступило в ответ возражений, состояние взаиморасчетов считается подтвержденным Заказчиком.
                        </li>
                    </ol>
                </li>
                <li>Исполнитель имеет право:
                    <ol>
                        <li>Права Исполнителя защищены действующим законодательством РФ и настоящим Договором.</li>
                        <li>Устанавливать предоплатные или беспредоплатные условия оплаты для Заказов Заказчика, в соответствии с условиями размещения и получения заказов, которые описаны в Приложении №5 к настоящему договору.</li>
                        <li>Развивать технологию продаж для развития бизнеса.</li>
                    </ol>
                </li>
                <li>Исполнитель обязуется:
                    <ol>
                        <li>Соблюдать условия Договора.</li>
                        <li>Информировать Заказчика обо всех изменениях в технологии продаж, относящихся к будущим сделкам по Договору.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li class="level-1">Срок действия и изменение условий оферты
            <ol>
                <li>Оферта вступает в силу с момента размещения в сети Интернет на сайте www.zild.ru  и действует до момента отзыва Оферты Исполнителем.</li>
                <li>Исполнитель оставляет за собой право внести изменения в условия Оферты и/или отозвать Оферту в любой момент по своему усмотрению.</li>
                <li>В случае внесения Исполнителем изменений в Оферту, такие изменения вступают в силу с момента размещения измененного текста Оферты в сети Интернет по указанному в п.4.1. адресу, если иной срок вступления изменений в силу не определен дополнительно при таком размещении.</li>
            </ol>
        </li>
        <li class="level-1">Срок действия  и изменение договора
            <ol>
                <li>Акцепт Оферты Заказчиком создает Договор (статья 438 Гражданского Кодекса РФ) на условиях Оферты.</li>
                <li>Договор вступает в силу с момента Акцепта Оферты Заказчиком и действует до момента отзыва Оферты.</li>
                <li>Заказчик соглашается и признает, что внесение изменений в Оферту влечет за собой внесение этих изменений в заключенный и действующий между Заказчиком и Исполнителем Договор, и эти изменения в Договоре вступают в силу одновременно с такими изменениями в Оферте.</li>
                <li>В случае отзыва Оферты Исполнителем в течение срока действия Договора, Договор считается прекращенным с момента отзыва, если иное не оговорено Исполнителем при отзыве Оферты.</li>
            </ol>
        </li>
        <li class="level-1">Порядок взаиморасчетов
            <ol>
                <li>Заказчик перечисляет депозит в качестве обеспечения оплаты будущих Заказов безналичным переводом денежных средств на расчетный счет Исполнителя.</li>
                <li>Заказы оплачиваются после Передачи товара покупателю.</li>
                <li>Если по состоянию на последний день месяца за Заказчиком существует долг по переданным Товарам, Исполнитель оставляет за собой право погасить долг за счет депозита в безакцептном порядке.</li>
                <li>В случае отсутствия Заказов, после подписания акта сверки взаиморасчетов, по требованию Заказчика Исполнитель обязан перечислить остаток депозита Заказчику, не позднее 3х рабочих дней со дня поступления требования.</li>
            </ol>
        </li>
        <li class="level-1">Реквизиты Исполнителя</li>
    </ol>
</div>

<div class="last-container">
    <p>
        ИП Казеев С.Э.<br/>
        ОГРНИП 323774600718392<br/>
        <strong>ИНН 222309710350</strong><br/>
        Адрес местонахождения:<br/>
        111625, г. Москва, ул. Каскадная, д. 20, корп. 2, кв. 48<br/>
        ОКВЭД 45.31, 41.20, 43.21, 43.22, 43.29, 43.31, 43.33, 43.32, 45.40, 46.73, 46.74, 49.41, 63.11
    </p>
    <p>
        <strong>Р/счет 40802810802490004780</strong><br/>
        В АО "АЛЬФА-БАНК" г. Москва<br/>
        БИК 044525593<br/>
        к/счет 30101810200000000593<br/>
        Система налогообложения УСН на основании п.3 ст.346.11 Главы 26.2  НК РФ
    </p>
    <p>
        <strong>Действует от своего имени на основании записи о государственной регистрации за ОГРНИП 323774600718392 от 01.11.2023г.</strong>
    </p>
    <p>
        10 февраля 2024 г.<br/>
        Казеев С.Э.
    </p>
</div>

<h4>
    ПРАВИЛА ОСУЩЕСТВЛЕНИЯ ЗАКАЗА<br/>
    Приложение №1<br/>
    к договору купли-продажи № ОФ-1.
</h4>

<div>
    <ol>
        <li class="level-1">Создание заказа
            <ol>
                <li>При создании Заказа на Сайте Заказчик:
                    <ol>
                        <li>выбирает, указывает и соглашается на Условия Заказа:
                            <ul>
                                <li>каталожный номер  и производитель запчасти (артикул Товара);</li>
                                <li>стоимость товара;</li>
                                <li>гарантированный срок исполнения Заказа;</li>
                                <li>способ передачи Товара со склада ИП Казеев С.Э. либо ,доставка силами поставщика до транспортной компании в г. Москва;</li>
                                <li>дополнительные условия (если таковые Сайт позволяет указать).</li>
                            </ul>
                        </li>
                        <li>помещает необходимый Товар в Корзину и на свое усмотрение:
                            <ul>
                                <li>оставляет Товары в корзине;</li>
                                <li>или отправляет Товары в Заказ.</li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>Сайт Исполнителя периодически (как правило, каждый час) обрабатывает Заказы Заказчика, при этом проверяется:
                    <ul>
                        <li>изменение условий Заказа (стоимости, срока, наличия и т.п.);</li>
                        <li>ошибки оформления Заказа (неверный номер запчасти, заказ задвоен и т.п.);</li>
                        <li>Баланс Заказчика (в соответствии с условиями размещения и получения заказов, которые описаны в Приложении №5 к настоящему Договору);</li>
                        <li>прочие условия.</li>
                    </ul>
                    <ol>
                        <li>Заказы, прошедшие обработку положительно, принимаются в работу (тем самым создается Заказ), при этом денежные средства условно списываются с Баланса Заказчика в размере стоимостной суммы принятых в работу Заказов.</li>
                        <li>Заказы, не прошедшие контроль, остаются в Корзине и помечаются сообщениями, поясняющими Заказчику возникшие проблемы.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li class="level-1">Исполнение заказа
            <ol>
                <li>После Приема в работу Заказов:
                    <ol>
                        <li>Исполнитель совершает действия по исполнению Заказов.</li>
                        <li>Исполнитель вправе закупить Товар дороже в пределах значения, установленного Заказчиком.</li>
                        <li>При значительном изменении курса валюты закупки Исполнитель вправе изменить стоимость Заказа.</li>
                        <li>Заказчик отслеживает статус исполнения своих Заказов и баланса с помощью ресурсов сайта. Заказчик знает количество Товаров, готовых к выдаче, их характеристики (объем, вес, позиционную и суммарную стоимость, плату за хранение, режим работы склада), и потому в состоянии правильно организовать получение Готового к выдаче Товара.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li class="level-1">Передача товара
            <ol>
                <li>Заказчик получает готовый к выдаче Товар и документы (ТОРГ-12, счет-фактура, УПД либо кассовый чек ) на Товар при помощи Представителя, при наличии:
                    <ul>
                        <li>средств на Балансе, достаточных для оплаты итоговой стоимости всех Готовых к выдаче Товаров;</li>
                        <li>доверенности у Представителя.</li>
                    </ul>
                </li>
                <li>После получения Товара Представителем условное списание стоимостной суммы денежных средств за Товар меняется на фактическое по Документам.</li>
                <li>Представитель расписывается в экземпляре Документов Исполнителя и принимает на себя право собственности (или ответственного хранения) на Товар.</li>
                <li>За восстановление Документов по просьбе Заказчика Исполнитель вправе потребовать оплату.</li>
            </ol>
        </li>
    </ol>
</div>

<div class="last-container">
    <p>10.02.2024.г<br/>Казеев С.Э.</p>
</div>

<h4>
    ПРАВИЛА ОБРАБОТКИ РЕКЛАМАЦИЙ<br/>
    Приложение №3<br/>
    к договору купли-продажи № ОФ-1.
</h4>

<div>
    <ol>
        <li class="level-1">Общие положения
            <ol>
                <li>Исполнитель гарантирует выполнение Условий Заказа.</li>
                <li>Все Рекламации по Товару принимаются только оформлением Обращения на Сайте, не позднее 14 календарных дней со дня Передачи товара Представителю.</li>
            </ol>
        </li>
        <li class="level-1">Передача товара
            <ol>
                <li>В момент Передачи Товара:
                    <ol>
                        <li>Товар осматривается Представителем.</li>
                        <li>При выявлении дефектов Представителем — совместно с сотрудниками Исполнителя составляется акт (по форме ТОРГ-2) с описанием дефекта.</li>
                        <li>Рекламации по дефектам крупногабаритных и хрупких Товаров (стекла, кузовные панели, оптика, накладки, молдинги и т.п.), принимаются только в момент Передачи товара.</li>
                    </ol>
                </li>
                <li>После Передачи товара:
                    <ol>
                        <li>При выявлении дефектов Товара (если установлено что они  возникли до момента Передачи товара):</li>
                        <ul>
                            <li>В случае возможности восстановительного ремонта Товара производится Уценка;</li>
                            <li>В случае невозможности восстановительного ремонта Товара производится Возврат.</li>
                        </ul>
                        <li>Возврат или Уценка возможны только в результате принятого Исполнителем решения по Обращению.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li class="level-1">Порядок рассмотрения рекламаций
            <ol>
                <li>Исполнитель рассматривает все Рекламации по дефектам Товара от Заказчика.</li>
                <li>Исполнитель вправе отказать Заказчику в рассмотрении Рекламации по дефектам Товара, выявленным в результате установки или эксплуатации, при отсутствии следующих документов:
                    <ul>
                        <li>сертификат соответствия СТО на проведение данного вида работ (копия, заверенная печатью СТО);</li>
                        <li>заказ-наряд на установку Товара на транспортное средство;</li>
                        <li>официальное заключение сервиса о причинах неработоспособности Товара (на фирменном бланке).</li>
                    </ul>
                </li>
                <li>Исполнитель вправе произвести проверку качества Товара, и по ее результатам либо   произвести возврат, либо отказать Заказчику в возврате Товара.</li>
            </ol>
        </li>
        <li class="level-1">Процедура возврата
            <ol>
                <li>Исполнитель вправе отказать Заказчику в возврате Товара при невыполнении следующих условий:
                    <ul>
                        <li>сохранение товарного вида;</li>
                        <li>целостная заводская упаковка;</li>
                        <li>отсутствие  посторонних надписей;</li>
                        <li>наличие Стикера Исполнителя.</li>
                    </ul>
                </li>
                <li>При решении о Возврате:
                    <ul>
                        <li>Заказчик,  получающий груз самовывозом со склада Исполнителя,  должен доставить Товар Исполнителю в течение 5 календарных дней со дня принятого Исполнителем решения по Обращению. Кроме случаев, когда по решению Исполнителя не нужно физически возвращать Товар Исполнителю.</li>
                        <li>Заказчик,  получающий груз транспортной компанией, должен отправить Товар Исполнителю в течение 7 календарных дней со дня принятого Исполнителем решения по Обращению. Кроме случаев, когда по решению Исполнителя не нужно физически возвращать Товар Исполнителю. При Возврате необходимо согласовать условия отправки Товара с Исполнителем.</li>
                    </ul>
                </li>
                <li>Возврат стоимости проданного ранее Товара осуществляется:
                    <ul>
                        <li>если Товар принят Заказчиком на баланс, то обратным выкупом Товара с оформлением Документов (ТОРГ-12, счет-фактура, УПД);</li>
                        <li>если Товар не принят Заказчиком на баланс, то возврат оформляется Документами (ТОРГ-2, расходная накладная (ТОРГ-12 или возвратной УПД)).</li>
                    </ul>
                </li>
                <li>Исполнитель возмещает стоимость возвращенного Товара на основании полученных Документов указанных в п.4.3, путём увеличения суммы депозита Заказчика.</li>
            </ol>
        </li>
        <li class="level-1">Процедура уценки
            <ol>
                <li>По Обращению Заказчика с Исполнителем согласуется стоимость восстановительного ремонта.</li>
                <li>Заказчик составляет акт выполненных работ, при этом право собственности на Товар считается переданным в момент завершения восстановительного ремонта.</li>
                <li>Исполнитель в праве компенсировать стоимость восстановительного ремонта  на основании полученных от Заказчика документов (акт выполненных работ и счет-фактура), путём увеличения суммы депозита Заказчика.</li>
            </ol>
        </li>
    </ol>
</div>

<div class="last-container">
    <p>10.02.2024.г<br/>Казеев С.Э.</p>
</div>

<h4>
    ПРАВИЛА НАЧИСЛЕНИЯ ПЛАТЫ ЗА ХРАНЕНИЕ<br/>
    Приложение №4<br/>
    к договору купли-продажи № ОФ-1.
</h4>

<div>
    <ol>
        <li class="level-1">Расчет платы за хранение
            <ol>
                <li>Плата за сверхнормативное Хранение товара рассчитывается автоматически по каждой позиции в момент Передачи товара и включается в стоимость Товара.</li>
            </ol>
        </li>
        <li class="level-1">Условия начисления платы за хранение
            <ol>
                <li>Срок Хранения товара считается в часах, с момента Готовности товара к выдаче.</li>
                <li>Плата за хранение каждой позиции зависит от срока хранения и уровня скидки Заказчика.</li>
                <li>Плата за хранение начисляется в размере 0,1% в час от стоимости позиции Товара за период, начиная с момента превышения срока нормативного хранения товара до момента Передачи товара.</li>
            </ol>
        </li>
        <li class="level-1">Срок нормативного хранения:
            <ol>
                <li>для Заказчиков,  получающих груз самовывозом со склада Исполнителя:
                    Бесплатное хранение, часов: Физ.лица — 168, Юр.лица — 120
                </li>
                <li>для Заказчиков, получающих груз транспортными компаниями:
                    Бесплатное хранение, часов 336</li>
            </ol>
        </li>
    </ol>
</div>

<p>10.02.2024г.<br/>Казеев С.Э.</p>