<style>
.product-card {
	border: solid 2px green;
	margin: 16px 16px 16px 0;
	padding: 8px;
	border-radius: 8px;
	width: 300px;
}

#search {
	display: flex; align-items: center;
}

#search button {
	margin: 0 8px;
}

#search input {
	margin: 0 8px;
}

.product-card-title {
	border-bottom: solid 2px green;
	
}
</style>

<div id="search">
	<div style="width: 740px;">
		<label>Part Number</label>
		<input type="text" [(ngModel)]="searchCode">

		<button mat-stroked-button color="primary" (click)="search()" [disabled]="inProgress">Поиск</button>
	</div>
	<mat-checkbox color="primary" [(ngModel)]="includeAnalog">искать аналоги</mat-checkbox>
</div>

<div style="display: flex;">
	<div class="product-card">
		<div class="product-card-title">
			<strong>Лучшая цена</strong>
		</div>
		<div>Бренд: {{searchResult.bestPrice?.manufacturer}}</div>
		<div>Цена: {{searchResult.bestPrice?.priceRub | number: '1.0-0'}} руб</div>
		<div>Срок доставки: {{searchResult.bestPrice?.deliveryMin}} - {{searchResult.bestPrice?.deliveryMin}} дней</div>
		<button mat-stroked-button mat-button color="primary" (click)="openDialog(searchResult.bestPrice)">Заказать</button>
	</div>
	<div class="product-card">
		<div class="product-card-title">
			<strong>Экспресс доставка</strong>
		</div>
		<div>Бренд: {{searchResult.expressDelivery?.manufacturer}}</div>
		<div>Цена: {{searchResult.expressDelivery?.priceRub | number: '1.0-0'}} руб</div>
		<div>Срок доставки: {{searchResult.expressDelivery?.deliveryMin}} - {{searchResult.bestPrice?.deliveryMin}} дней</div>
		<button mat-stroked-button mat-button color="primary" (click)="openDialog(searchResult.expressDelivery)">Заказать</button>
	</div>
	<div class="product-card">
		<div class="product-card-title">
			<strong>Оптимальный вариант</strong>
		</div>
		<div>Бренд: {{searchResult.optimal?.manufacturer}}</div>
		<div>Цена: {{searchResult.optimal?.priceRub | number: '1.0-0'}} руб</div>
		<div>Срок доставки: {{searchResult.optimal?.deliveryMin}} - {{searchResult.bestPrice?.deliveryMin}} дней</div>
		<button mat-stroked-button mat-button color="primary" (click)="openDialog(searchResult.optimal)">Заказать</button>
	</div>
</div>

<div>
	<div>
		Найдено {{searchResult.products.length}} вариантов от {{searchResult.bestPrice?.priceRub | number: '1.0-0'}} рублей
	</div>
  <table *ngIf="!inProgress">
	<tr>
		<th>Наименование детали</th>
		<th>Бренд</th>
		<th>Номер детали</th>
		<th>Стоимость, руб</th>
		<th>Срок доставки, дн</th>
		<th>Оригинал</th>
		<th></th>
	</tr>
	<tr *ngFor="let x of searchResult.products">
		<td>{{x.name}}</td>
		<td>{{x.manufacturer}}</td>
		<td>{{x.partNumber}}</td>
		<td>{{x.priceRub | number: '1.0-0'}}</td>
		<td>{{x.deliveryMin}} - {{x.deliveryMax}}</td>
		<td>{{x.isOriginal}}</td>
		<td>
			<button mat-stroked-button mat-button color="primary" (click)="openDialog(x)">Заказать</button>
		</td>
	</tr>
  </table>

  <mat-spinner *ngIf="inProgress"></mat-spinner>

</div>
