<div id="search">
	<div style="width: 740px;">
		<mat-form-field class="search-form-field">
			<input matInput type="search"
				placeholder="VIN / Part Number" 
				[matAutocomplete]="auto"
				[(ngModel)]="searchCode"
				(keydown)="onSearchKeyDown($event)">
			<mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let option of options" [value]="option">
				  {{option}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		
		<button mat-flat-button color="primary" (click)="search()" [disabled]="inProgress">Поиск</button>
	</div>
	<mat-checkbox color="primary" [(ngModel)]="includeAnalog">искать аналоги</mat-checkbox>
</div>

<div style="border: solid 2px blue; border-radius: 8px; min-height: 24px;margin: 8px 0;padding: 8px;">
	<div>{{modification?.brand}}</div>
	<div>{{modification?.description}}</div>
	<div>{{modification?.modelName}}</div>
	<div>{{modification?.name}}</div>
	<img [src]="model?.image">
</div>

<div id="group-parts">
	<div class="group-parts-area">
		<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
			<!-- This is the tree node template for leaf nodes -->
			<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
			<!-- use a disabled button to provide padding for tree leaf -->
			<button mat-icon-button disabled></button>
			<span *ngIf="node.hasParts" (click)="getNodeParts(node)" style="cursor: pointer;"><strong>{{node.itemName}}</strong></span>
			<span *ngIf="!node.hasParts">{{node.itemName}}</span>
			</mat-tree-node>
			<!-- This is the tree node template for expandable nodes -->
			<mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
			<button mat-icon-button matTreeNodeToggle
					[attr.aria-label]="'Toggle ' + node.name">
				<mat-icon class="mat-icon-rtl-mirror">
				{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
				</mat-icon>
			</button>
			{{node.itemName}}
			</mat-tree-node>
		</mat-tree>
	</div>

	<div class="group-parts-area">
		<div>
			<!-- <svg *ngIf="mrk"  class="mark-img" width="600" height="800">
				<rect [attr.x]="xx" [attr.y]="yy" [attr.width]="ww" [attr.height]="hh" 
				style="fill:rgba(0,0,0,0);stroke-width:1;stroke:red;" />
			</svg> -->

			 <img [src]="schemeImage" usemap="#workmap"> 
			<map name="workmap">
				<area *ngFor="let lbl of groupParts?.labels"
					(click)="searchById(lbl.id)"
					coords="{{lbl!.coordinate!.top!.x}},{{lbl!.coordinate!.top!.y}},{{lbl!.coordinate!.bottom!.x}},{{lbl!.coordinate!.bottom!.y}}"
					alt="lbl.name"
					(mouseover)="onAreaMouseOver(lbl.coordinate)"
					(mouseout)="onAreaMouseOut()"
					shape="rect">
			</map>
		</div>
		<ul>
			<li *ngFor="let x of groupParts.numbers">
				{{x.id}} - {{ x.name }} (PN {{x.number}})
				<button (click)="searchByPn(x.number)">Поиск по номеру</button>
			</li>
		</ul>
	</div>
</div>

<div>
	Найдено {{searchResult.products.length}} вариантов от {{searchResult.bestPrice?.priceRub | number: '1.0-0'}} рублей
</div>

<div style="display: flex;">
	<div class="product-card">
		<div class="product-card-title">
			<strong>Лучшая цена</strong>
		</div>
		<div>Бренд: {{searchResult.bestPrice?.manufacturer}}</div>
		<div>Цена: {{searchResult.bestPrice?.priceRub | intCurrency}} руб</div>
		<div>Срок доставки: {{searchResult.bestPrice?.deliveryMin}} - {{searchResult.bestPrice?.deliveryMin}} дней</div>
		<button mat-stroked-button mat-button color="primary" (click)="openDialog(searchResult.bestPrice)">Заказать</button>
	</div>
	<div class="product-card">
		<div class="product-card-title">
			<strong>Экспресс доставка</strong>
		</div>
		<div>Бренд: {{searchResult.expressDelivery?.manufacturer}}</div>
		<div>Цена: {{searchResult.expressDelivery?.priceRub | intCurrency}} руб</div>
		<div>Срок доставки: {{searchResult.expressDelivery?.deliveryMin}} - {{searchResult.expressDelivery?.deliveryMin}} дней</div>
		<button mat-stroked-button mat-button color="primary" (click)="openDialog(searchResult.expressDelivery)">Заказать</button>
	</div>
	<div class="product-card">
		<div class="product-card-title">
			<strong>Оптимальный вариант</strong>
		</div>
		<div>Бренд: {{searchResult.optimal?.manufacturer}}</div>
		<div>Цена: {{searchResult.optimal?.priceRub | intCurrency}} руб</div>
		<div>Срок доставки: {{searchResult.optimal?.deliveryMin}} - {{searchResult.optimal?.deliveryMin}} дней</div>
		<button mat-stroked-button mat-button color="primary" (click)="openDialog(searchResult.optimal)">Заказать</button>
	</div>
</div>

<div>
	<div>Другие предложения</div>
	<table *ngIf="!inProgress">
		<tr>
			<th>Наименование детали</th>
			<th>Бренд</th>
			<th>Номер детали</th>
			<th>Стоимость, руб</th>
			<th>Срок доставки, дн</th>
			<th>Оригинал</th>
			<th></th>
		</tr>
		<tr *ngFor="let x of (showAllProducts ? searchResult.products : searchResult.products.slice(0,5))">
			<td>{{x.name}}</td>
			<td>{{x.manufacturer}}</td>
			<td>{{x.partNumber}}</td>
			<td>{{x.priceRub | intCurrency}}</td>
			<td>{{getDeliveryString(x.deliveryMin, x.deliveryMax)}}</td>
			<td>{{x.isOriginal}}</td>
			<td>
				<button mat-stroked-button mat-button color="primary" (click)="openDialog(x)">Заказать</button>
			</td>
		</tr>
	</table>

	<button id="btn-show-all" *ngIf="!showAllProducts" mat-stroked-button mat-button (click)="showAllProducts = true;">Показать все</button>

	<mat-spinner *ngIf="inProgress"></mat-spinner>

</div>