.product-card {
	border: solid 2px green;
	margin: 16px 16px 16px 0;
	padding: 8px;
	border-radius: 8px;
	width: 300px;
}

#search button {
	margin: 0 8px;
}

#btn-show-all {
	margin-top: 8px;
}

.product-card-title {
	border-bottom: solid 2px green;
}

#group-parts {
	display: flex;
}

/* .group-parts-area {
	border: solid 2px orangered; border-radius: 8px; min-height: 24px;margin: 8px 0;padding: 8px;
} */

#group-navigation button {
	font-weight: normal;
}

#bread-crumb-groups {
	border-bottom: solid 1px gray;
	margin-bottom: 8px;
	padding-bottom: 8px;
}

area {
	cursor: pointer;
}

.mark-img {
	position: absolute;
}

.mat-form-field {
	width: min(100%, 375px);
}

#vin-info-block {
	border: solid 2px dimgray; 
	border-radius: 8px; 
	min-height: 24px;
	margin: 8px 0;
	padding: 8px;
	background-color: #f2f2f2;
}

#model-description {
	font-size: small;
}

#model-info {
	font-weight: bold;
}

.crz-part-group {
	margin: 4px;
}

#fast-search-btn {
	padding-left: 0;
	font-weight: unset;
}

.btn-detail-pn {
	min-width: 50%;
	text-align: left;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
	.btn-detail-pn {
		width: 375px;
	}
}