.product-card {
	border: solid 2px green;
	margin: 16px 16px 16px 0;
	padding: 8px;
	border-radius: 8px;
	width: 300px;
}

#search button {
	margin: 0 8px;
}

#btn-show-all {
	margin-top: 8px;
}

.product-card-title {
	border-bottom: solid 2px green;
}

#group-parts {
	display: flex;
}

.group-parts-area {
	width: 50%;
	border: solid 2px orangered; border-radius: 8px; min-height: 24px;margin: 8px 0;padding: 8px;
}

area {
	cursor: pointer;
}

.mark-img {
	position: absolute;
}

.mat-form-field {
	width: min(100%, 375px);
}

#vin-info-block {
	border: solid 2px dimgray; 
	border-radius: 8px; 
	min-height: 24px;
	margin: 8px 0;
	padding: 8px;
	background-color: #f2f2f2;
}

#model-description {
	font-size: small;
}

#model-info {
	font-weight: bold;
}