<div>
  <table>
    <tr>
      <th>№ заказа</th>
      <th>Объемный вес</th>
      <th>Физический вес</th>
      <th>Дата заказа</th>
      <th>Поставщик</th>
      <th>Цена поставщика, USD</th>
      <th>Стоимость доставки</th>
      <th>Размер наценки</th>
      <th>Статус заказа от поставщика</th>
      <th>Статус заказа для клиента</th>
      <th>Телефон</th>
      <th>Part Number</th>
      <th>Производитель</th>
      <th>Цена, руб</th>
      <th>Срок поставки</th>
      <th></th>
    </tr>
    <tr *ngFor="let x of preOrders">
      <td>{{x.id | number: '3.0-0'}}</td>
      <td>{{x.product.volume}}</td>
      <td>{{x.product.weight}}</td>
      <td>{{x.date | date: 'dd.MM.yyyy HH:mm'}}</td>
      <td>{{getSupplierName(x.product.sourceId)}}</td>
      <td>{{x.product.price | intCurrency}}</td>
      <td>{{x.product.deliveryCost | intCurrency}}</td>
      <td>{{x.product.extraCharge | intCurrency}}</td>
      <td></td>
      <td></td>
      <td>{{x.phone}}</td>
      <td>{{x.product.partNumber}}</td>
      <td>{{x.product.manufacturer}}</td>
      <td>{{x.product.priceRub | intCurrency}}</td>
      <td>{{x.product.deliveryMin}}</td>
      <td>
        <button mat-stroked-button mat-button color="primary" (click)="openDialog(x.id)">Создать реальный ордер</button>
      </td>
    </tr>
  </table>

	<mat-spinner *ngIf="inProgress"></mat-spinner>
</div>