.cr-alert {
    color: red;
    font-style: italic;
    text-align: start;
    font-size: small;
    margin-bottom: 16px;
}

mat-form-field {
    display: block;
}

.mat-checkbox-container {
    margin-bottom: 20px;
}

:host::ng-deep.mat-checkbox-layout{
    white-space: normal !important;
    text-align: left;
    font-style: italic;
    font-size: small;
}
    
:host::ng-deep.mat-checkbox-inner-container{
    margin-top: 4px;
}